<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button color="{{theme}}" shape="round" (click)="order()">
        <ion-icon name="{{ordic}}"></ion-icon>&nbsp;&nbsp;{{ord}}</ion-button>
      <ion-button (click)="filts()" color="{{theme}}" shape="round">
        <ion-icon name="{{iconfilt}}"></ion-icon>&nbsp;&nbsp;{{txt}}
      </ion-button>
      <ion-button routerDirection="root" [routerLink]="[addeventUrl]" color="{{theme}}" shape="round">
        <ion-icon name="add-outline"></ion-icon>&nbsp;&nbsp;Add Event
      </ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">

  <div id="container">
    <div style="margin-bottom:2%; text-align: left; margin-left:3%;">
      <h1 style="display:inline-block;">All Events</h1>
    </div>
    <div id="filters" *ngIf="filtsh">
      <ion-select placeholder="Select City" class="{{'sel' + theme}}" [(ngModel)]="city">
        <ion-item *ngFor="let city of citys">
          <ion-select-option value="{{city.nameCity}}">{{city.nameCity}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-select placeholder="Select Type" class="{{'sel' + theme}}" [(ngModel)]="type">
        <ion-item *ngFor="let type of types">
          <ion-select-option value="{{type.nameType}}">{{type.nameType}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-input placeholder="Search by name" class="{{'sel' + theme}}" type="text" [(ngModel)]="str"
        (keyup)="modelChange()"></ion-input>
      <ion-button expand="block" class="block" id="block" color="primary" (click)="applyFilter()" style="margin-bottom:2%;">
        Apply
        Filter
      </ion-button>
    </div>
    
    <div id="leftid">
      <ion-card class="cardevent" *ngFor="let event of events" color="{{color(theme)}}">
        <img [src]="event.url" class="cardimage"/>
        <ion-card-header>
          <ion-card-title>{{ event.eventName }}</ion-card-title>
          <ion-card-subtitle>{{ event.city + '  ' + date(event) }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="content">
          {{ getDetails(event.eventDesc) }}
        </ion-card-content>
        <div class="btns" *ngIf="isUser(event.creator) == false && resDetails(event)">
          <ion-button color="primary" shape="round" [routerLink]="[getRoute(event.id,'reserve')]">reserve</ion-button>
          <ion-button color="success" shape="round" [routerLink]="[getRoute(event.id,'view')]">view</ion-button>
        </div>
        <div class="btn" *ngIf="isUser(event.creator) == false && resDetails(event) == false">
          <ion-button color="success" shape="round" [routerLink]="[getRoute(event.id,'view')]">view</ion-button>
        </div>
        <div class="btns" *ngIf="isUser(event.creator)">
          <ion-button color="primary" shape="round" [routerLink]="[getRoute(event.id,'edit')]">edit</ion-button>
          <ion-button color="danger" shape="round" (click)="cancelev(event.id)">cancel</ion-button>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
