ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.cardevent {
  width:22%;
  height:450px;
  display: inline-block;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
}

.cardimage {
  height: 220px;
  width: 100%;
}

.btns {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5%;
}

.btns ion-button {
  width: 47%;
  margin-left: 2%;
    margin-right: 1%;
}

.btn {
  width: 60%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5%;
  margin-left:20%;
}

.btn ion-button {
  width: 94%;
  margin-left: 2%;
  margin-right: 1%;
}

.ordbtn {
  width: 25%;
  margin-left: 1%;
  border: 1px solid var(--ion-color-primary);
}

.sellight {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-shade);
  border-radius: 5px;
  margin-bottom: 1%;
  padding-right: 1.5%;
  color: var(--ion-color-dark);
}

.seldark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-tint);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
  margin-bottom: 1%;
  padding-right: 1.5%;
}

#leftid {
text-align: left;
margin-left:3%;
margin-bottom: 3%;
}

#filters {
  text-align: left;
  margin-left: 3.5%;
  width: 90%;
}

@media only screen and (max-width: 400px) {

  .content {
      visibility: hidden;
    }
  .cardevent {
      width: 90%;
      height: auto;
      border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      text-align: left;
    }
  
    .cardimage {
      height: 250px;
      width: 100%;
    }

        #leftid {
          text-align: left;
        }

                #container {
                  text-align: center;
                  margin-left: 5%;
                  margin-right: 5%;
                  margin-top: 5%;
                }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .cardevent {
    width: 90%;
    height: auto;
    text-align: left;
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .cardimage {
    height: 370px;
    width: 100%;
  }

  #leftid {
    text-align: left;
  }

  .content{
    visibility: hidden;
  }

  #container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 915px) {
  .cardevent {
    width: 45%;
    display: inline-block;
    height: 500px;
    text-align: left;
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .content {
    display: none;
  }

  .cardimage {
    height: 330px;
    width: 100%;
  }
}

@media only screen and (max-width: 915px) and (min-width: 600px) {
.cardevent {
    width: 90%;
    height: auto;
    text-align: left;
  }

    .content {
      visibility: hidden;
    }

  .cardimage {
    height: 470px;
    width: 100%;
  }

    #leftid {
      text-align: left;
    }

        #container {
          text-align: center;
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 5%;
        }
}