ion-menu-button {
  color: var(--ion-color-primary);
}

#txt {
  text-align: center;
  margin-bottom: 3%;
}

.cardlogin {
  border: 3px solid var(--ion-color-primary);
}

.inplogin {
  border: 2px solid var(--ion-color-primary);
  font-size: var(--fonts);
}

#gridlogin {
  width: var(--widthbig);
  margin-left: var(--centermargin15);
}

#container {
  left: 2%;
  right: 2%;
  margin-top: 5%;
}

#container strong {
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}