<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <img style="width:2.5%; height:auto; display:inline-block;" src="assets/apache.svg" />
      <h1 style="display:inline-block; font-family: 'cursive'; color: var(--ion-color-primary-contrast); font-size: 1.2rem;"><strong>The
          Event King</strong> </h1>
    </ion-title>
    <ion-button slot="end" (click)="themecng()" color="{{theme}}" shape="round" style="margin-right:1.5%;">{{ btnTxt(theme) }}
    &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">

  <div id="container">
    <div id="txt">
      <h1>Welcome to </h1><img style="width:8%; height:auto; display:inline-block;" src="assets/apache.svg"/>
      <h1 style="display:inline-block; font-family: 'cursive'; color: var(--ion-color-medium); font-size: 2.5rem;"><strong>The Event King</strong> </h1>
    </div>
  <ion-grid id="gridlogin" style="margin-bottom: 4%;">
    <ion-row>
      <ion-col size="6">
        <ion-card color="{{ theme }}" class="cardlogin">
          <ion-card-header>
            <ion-card-title><h1>Sign Up</h1></ion-card-title>
          </ion-card-header>
        
          <ion-card-content id="reg">
            <ion-input placeholder="Enter Username" style="margin-bottom: 6.5%;" class="inplogin" type="text"
            [(ngModel)]="username"></ion-input>
            <ion-input placeholder="Enter Email" style="margin-bottom: 6.5%;" class="inplogin" type="text"
            [(ngModel)]="email"></ion-input>
            <ion-input placeholder="Enter Password" style="margin-bottom: 6.5%;" class="inplogin" type="password"
            [(ngModel)]="password"></ion-input>
            <ion-button color="primary" shape="round" (click)="signUp()" id="breg">Sign Up</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="{{ theme }}" class="cardlogin">
          <ion-card-header>
            <ion-card-title>
              <h1>Log In</h1>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content id="log">
            <ion-input placeholder="Enter Username" style="margin-bottom: 6.5%;" class="inplogin" type="text"
            [(ngModel)]="credential"></ion-input>
            <ion-input placeholder="Enter Password" style="margin-bottom: 24.75%;" class="inplogin" type="password"
            [(ngModel)]="pswlogin"></ion-input>
            <ion-button color="primary" shape="round" (click)="login()" id="blog">Log In</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
