<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Events</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button color="{{theme}}" shape="round" (click)="seeres()">
        <ion-icon name="{{resicon}}"></ion-icon>&nbsp;&nbsp;{{restext}}
      </ion-button>
      <ion-button color="{{theme}}" shape="round" (click)="order()" *ngIf="showres == false">
        <ion-icon name="{{ordic}}"></ion-icon>&nbsp;&nbsp;{{ord}}
      </ion-button>
      <ion-button (click)="filts()" color="{{theme}}" shape="round" *ngIf="showres == false">
        <ion-icon name="{{iconfilt}}"></ion-icon>&nbsp;&nbsp;{{txt}}
      </ion-button>
      <ion-button (click)="filts2()" color="{{theme}}" shape="round" *ngIf="showres">
        <ion-icon name="{{iconfilt2}}"></ion-icon>&nbsp;&nbsp;{{txt2}}
      </ion-button>
      <ion-button routerDirection="root" [routerLink]="[addeventUrl]" color="{{theme}}" shape="round">
        <ion-icon name="add-outline"></ion-icon>&nbsp;&nbsp;Add Event
      </ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="showres == false">
    <div style="margin-bottom:2%; text-align: left; margin-left:3%;">
      <h1 style="display:inline-block;">Your Events</h1>
    </div>
    <div id="filters" *ngIf="filtsh">
      <ion-select placeholder="Select City" class="{{'sel' + theme}}" [(ngModel)]="city">
        <ion-item *ngFor="let city of citys">
          <ion-select-option value="{{city.nameCity}}">{{city.nameCity}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-select placeholder="Select Type" class="{{'sel' + theme}}" [(ngModel)]="type">
        <ion-item *ngFor="let type of types">
          <ion-select-option value="{{type.nameType}}">{{type.nameType}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-input placeholder="Search by name" class="{{'sel' + theme}}" type="text" [(ngModel)]="str"
        (keyup)="modelChange()"></ion-input>
      <ion-button expand="block" class="block" id="block" color="primary" (click)="applyFilter()"
        style="margin-bottom:2%;">
        Apply
        Filter
      </ion-button>
    </div>
  
    <div id="leftid">
      <ion-card class="cardevent" *ngFor="let event of events" color="{{color(theme)}}">
        <img [src]="event.url" class="cardimage" />
        <ion-card-header>
          <ion-card-title>{{ event.eventName }}</ion-card-title>
          <ion-card-subtitle>{{ event.city + ' ' + date(event) }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="content">
          {{ getDetails(event.eventDesc) }}
        </ion-card-content>
        <div class="btns">
          <ion-button color="primary" shape="round" [routerLink]="[getRoute(event.id,'edit')]">edit</ion-button>
          <ion-button color="danger" shape="round" (click)="cancelev(event.id)">cancel</ion-button>
        </div>
      </ion-card>
    </div>
  </div>

  <div id="container2" *ngIf="showres">
    <div style="margin-bottom:2%; text-align: left; margin-left:3%;">
      <h1 style="display:inline-block;">Reservations for your events</h1>
    </div>
    <div id="filters2" *ngIf="filtsel">
      <ion-select placeholder="Select Event" class="{{'sel' + theme}}" [(ngModel)]="evsel">
        <ion-item *ngFor="let ev of events">
          <ion-select-option value="{{ev.eventName}}">{{ev.eventName}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-button expand="block" class="block" id="block" color="primary" (click)="applyFilterSel()"
        style="margin-bottom:2%;">
        Apply
        Filter
      </ion-button>
    </div>
  
    <ion-card *ngFor="let rev of revs" color="{{themeopp(theme)}}" class="cardres">
      <ion-card-header>
        <ion-card-title>Event: {{getevN(rev.eventId)}}</ion-card-title>
        <ion-card-title>Starts on: {{getevD(rev.eventId)}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Id: {{rev.confirmationId}}</h2>
        <h2>Number of tickets: {{rev.tables}}</h2>
        <h2>Price: {{rev.price}} DEN</h2>
        <div stlye="margin-left:2%; margin-right:2%; position: aboslute; bottom: 0;">
          <ion-button color="success" shape="round" style="width: 60%;" (click)="download(rev)"> Download </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
