ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.cardres {
  width: 31%;
    margin-right: 1%;
    display: inline-block;
    height:210px;
}

@media only screen and (max-width: 400px) {

.cardres {
    width: 99%;
    display: inline-block;
    height: 220px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
.cardres {
    width: 99%;
    display: inline-block;
    height: 230px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 900px) {
  .cardres {
      width: 48%;
      margin-right: 1%;
      display: inline-block;
      height: 200px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .cardres {
      width: 99%;
      display: inline-block;
      height: 200px;
    }
  
}