<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservations</ion-title>
    <ion-button slot="end" (click)="themecng()" color="{{theme}}" shape="round" style="margin-right:1.5%;">{{ btnTxt(theme)
      }}
      &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 style="margin-bottom: 2%;">Reservations</h1>
    <ion-card *ngFor="let rev of revs" color="{{themeopp(theme)}}" class="cardres">
      <ion-card-header>
        <ion-card-title>Event: {{getevN(rev.eventId)}}</ion-card-title>
        <ion-card-subtitle>Starts on: {{getevD(rev.eventId)}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Id: {{rev.confirmationId}}</h2>
        <h2>Number of tickets: {{rev.tables}}</h2>
        <h2>Price: {{rev.price}} DEN</h2>
        <div stlye="margin-left:2%; margin-right:2%; position: aboslute; bottom: 0;">
          <ion-button color="success" shape="round" style="width: 40%;" (click)="download(rev)"> Download </ion-button>
          <ion-button color="danger" shape="round" style="width: 40%;" (click)="cancelrev(rev.id)"> Cancel </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
