<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Events</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button routerDirection="root" [routerLink]="[urlBack]" color="{{theme}}" shape="round">
        <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;&nbsp;Back</ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  

  <div id="container">
    <div class="section-wrapper" style="margin-bottom:2%;" id="1stev">
      <h1 style="margin-bottom:4%;">Provide the following details for your event</h1>
      <ion-title style="margin-bottom: 1%;">Event Title *</ion-title>
      <ion-input placeholder="Add your event title" style="margin-bottom: 3%" class="{{'txtarea' + theme}}"
        type="text" [(ngModel)]="eventTitle"></ion-input>
      <ion-title style="margin-bottom: 1%;">Event Description *</ion-title>
      <ion-textarea placeholder="Describe your event" style="margin-bottom: 3%" class="{{'txtarea' + theme}}" type="text"
        [(ngModel)]="eventDesc"></ion-textarea>
      <ion-title style="margin-bottom: 1%; margin-top:1%;">City and Type of Event  *</ion-title>
      <ion-select placeholder="Select City" class="{{'sel' + theme}}" [(ngModel)]="city">
        <ion-item *ngFor="let city of citys">
          <ion-select-option value="{{city.nameCity}}">{{city.nameCity}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-select placeholder="Select Type" class="{{'sel' + theme}}" [(ngModel)]="type">
        <ion-item *ngFor="let type of types">
          <ion-select-option value="{{type.nameType}}">{{type.nameType}}</ion-select-option>
        </ion-item>
      </ion-select>
    </div>
    <div class="section-wrapper">
      <h1 style="margin-bottom:4%;">Add Image Preview for your Event *</h1>
      <form [formGroup]="formdata" (ngSubmit)="uploadFile()"  style="margin-bottom:3%;">
        <ion-item color="{{theme}}" lines="none">
          <input type="file" formControlName="file"
          (change)="onFileChange($event)" name="imageu" id="imageu" style="display:none"/>
          <label for="imageu" class="btn btn-large" class="{{'uploadlabel' + theme}}"><ion-icon name="add-circle-outline"></ion-icon>
          </label>
          <img [src]="url" class="{{'preview'+getClassUrl()}}"/>
          <img [src]="" style="display:none;" class="{{'preview'+getClassUrl()}}" id="output"/>
          <canvas id="canvas" style="display:none;"></canvas>
        </ion-item>
      </form>
    </div>
    <div class="section-wrapper" style="margin-bottom:2%;" id="date">
      <h1 style="margin-bottom:4%;">Choose Date and Time for your Event *</h1>
      <ion-datetime class="{{ 'date' + theme }}" value="{{today}}"
        min="{{today}}" max="2024-05-31T23:59:59" [(ngModel)] = "startDate"></ion-datetime>
    </div>
    <div class="section-wrapper" style="margin-bottom:2%;" id="lastev">
      <h1 style="margin-bottom:4%;">Add Reservation Details for Your Event (optional)</h1>
      <ion-title style="margin-bottom: 1%;">Ticket Price</ion-title>
      <ion-input placeholder="Add the price of the tickets (in denars)" style="margin-bottom: 3%" class="{{'txtarea' + theme}}" type="text"
        [(ngModel)]="ticketPrc"></ion-input>
      <ion-title style="margin-bottom: 1%;">Number of Tickets Available for Reservation</ion-title>
      <ion-input placeholder="Add the number of available tickets" style="margin-bottom: 3%" class="{{'txtarea' + theme}}" type="text"
        [(ngModel)]="ticketNum"></ion-input>
    </div>
    <ion-button expand="block" class="block" id="block" color="primary" (click)="addEvent()"
    style="margin-bottom:2%;">Add Event
    </ion-button>
  </div>
</ion-content>
