ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}


#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.uploadlabellight {
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  padding-left:6%;
  padding-top:6%;
  padding-bottom: 6%;
  padding-right: 6%;
  cursor: pointer;
  font-size: 3rem;
  color: var(--ion-color-primary);
}

.uploadlabeldark {
  border: 2px solid var(--ion-color-dark-contrast);
  border-radius: 10px;
  padding-left: 6%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-right: 6%;
  cursor: pointer;
  font-size: 3rem;
  color: var(--ion-color-dark-contrast);
}

.preview {
  height:auto;
  max-width: 17%;
  margin-left:2%;
  border-radius: 10px;
}

.previewinvis {
  display:none;
}

.datedark {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
  border: 2px solid var(--ion-color-dark-contrast);
  border-radius: 5px;
}

.datelight {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
}

.section-wrapper {
  margin-bottom: 4%;
}

.txtarealight {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-shade);
  border-radius: 5px;
  color: var(--ion-color-tertiary-shade);
}

.txtareadark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-tint);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
}

.sellight {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-shade);
  border-radius: 5px;
  color: var(--ion-color-tertiary-shade);
  margin-bottom: 1%;
  padding-right: 1.5%;
}

.seldark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-tint);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
  margin-bottom: 1%;
  padding-right:1.5%;
}