<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile Information</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button routerDirection="root" (click)="logout()" color="{{theme}}" shape="round">
        <ion-icon name="exit-outline"></ion-icon>&nbsp;&nbsp; log out
      </ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>View or Edit your Profile Information</h1>
    <div style="margin-top:3%;" class="table" id="table">
      <ion-item *ngFor="let us of currentUser | keyvalue" color="{{tablecolor(theme,us.key)}}">
        <ion-title >{{ firstletter(us.key) }}</ion-title>
        <ion-input [(ngModel)]="updateUser[us.key]" type="{{type(us.key)}}" slot="end" disabled="{{diss(us.key)}}" 
        placeholder="{{holder(us.value,us.key)}}"
        ></ion-input>
        <ion-button slot="end" color="{{color(us.key)}}" (click)="change()" style="width:7%;">{{txt(us.key)}}</ion-button>
      </ion-item>
      <ion-item color="{{tablecolor(theme,'nume')}}">
        <ion-title>Number of Events</ion-title>
        <ion-input type="text" slot="end" style="display: none"
          hidde="true"></ion-input>
        <ion-label slot="end">{{numevs}}</ion-label>
      </ion-item>
      <ion-item color="{{tablecolor(theme,'numr')}}">
        <ion-title>Number of Reservations</ion-title>
        <ion-input type="text" slot="end" style="display: none"
        hidde="true"></ion-input>
        <ion-label slot="end">{{numrevs}}</ion-label>
      </ion-item>
      
    </div>
    <ion-button expand="block" class="block" id="block" color="primary" (click)="updateacc();">save all changes
    </ion-button>
  </div>
</ion-content>
