ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}


.block {
  margin-left: 3%;
  margin-right: 3%;
  margin-top:3%;
  border-radius: 5px;
}

.block1 {
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid var(--ion-color-primary);
  margin-top: 1%;
  border-radius: 5px;
}

.table {
  border: 1px solid var(--ion-color-primary);
}
