<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Report False Events</ion-title>
    <ion-button slot="end" (click)="themecng()" color="{{theme}}" shape="round" style="margin-right:1.5%;">{{ btnTxt(theme)
      }}
      &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{ theme }}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="one">
      <h1>How does reporting work?</h1>
      <p class="why">And why should you do it?</p>
      <ion-card color="{{theme}}" class="itemepx">
        <ion-card-content id="form">
          <ion-text class="{{'whytext'+theme}}">{{ whyreport }}</ion-text>
          <ion-text class="{{'whytext'+theme}}">{{ whyreport2 }}</ion-text>
          <ion-text class="{{'whytext'+theme}}">{{ whyreport3 }}</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="two"><h1>Write your report here</h1>
    <p>Any report you submit will be investigated by an admin.</p>
    <ion-card color="{{theme}}" class="{{'itemreport' + theme}}">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content id="form">
      <ion-title style="margin-bottom:0.5%;">Description: </ion-title>
      <ion-textarea placeholder="Report a false event or other malicious activity..." type="text"
        class="{{'txtarea' + theme}}" [(ngModel)]="report" style="margin-bottom: 5%"></ion-textarea>
      <ion-title style="margin-bottom:0.5%;">Suspicious event:</ion-title>
      <ion-input placeholder="Event to be reported (by name)" style="margin-bottom: 5%" class="{{'txtarea' + theme}}"
        type="text" [(ngModel)]="revent"></ion-input>
      <ion-title style="margin-bottom:0.5%;">Suspicious user:</ion-title>
      <ion-input placeholder="User to be reported (by username)" style="margin-bottom: 3%;" class="{{'txtarea' + theme}}"
        type="text" [(ngModel)]="ruser"></ion-input>
    </ion-card-content>
    </ion-card> </div>
    <ion-button expand="block" class="block" id="block" color="primary" (click)="submitReport()">Submit report</ion-button>
  </div>
</ion-content>
