ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  width: 100%;
  margin-top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.itemreportdark {
  width: 100%;
  border-radius: 5px;
}

.txtareadark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-light);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
}

.txtarea1dark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-light);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
}

.itemreportlight {
  width: 100%;
  border-radius: 5px;
}

.itemexp {
  width: 100%;
  border-radius: 5px;
}

.txtarealight {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-dark);
  border-radius: 5px;
  color: var(--ion-color-tertiary-shade);
}

.txtarea1light {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-dark);
  border-radius: 5px;
  color: var(--ion-color-tertiary-shade);
}

.whytextdark {
  font-size: var(--fonts);
  display: block;
  margin-bottom: 3.1%;
  color: var(--ion-color-dark-contrast);
}

.whytextlight {
  font-size: var(--fonts);
  display: block;
  margin-bottom: 3.1%;
  color: var(--ion-color-tertiary-shade);
}

.block {
  margin-top: 1%;
  border-radius: 5px;
  margin-left: 7%;
  margin-right: 20%;;
  margin-bottom: 2%;
}

.why {
  margin-bottom: 3%;
}

.one {
  margin-left: var(--centermarginw);
  margin-bottom: 3%;
  width: var(--widthbig);
}

.two {
  margin-left: var(--centermarginw);
  width: var(--widthbig);
}
