<ion-app>
  <ion-split-pane contentId="main-content" when="toggle">
    <ion-menu contentId="main-content">
      <ion-content color="{{theme}}">
        <ion-list id="inbox-list" class="{{theme}}">
          <ion-list-header style="margin-bottom:5%;" color="{{theme}}">
            <img style="width:30%; height:auto; display:inline-block;" src="assets/apache.svg" />
            <h1 style="display:inline-block; font-family: 'cursive'; color: var(--ion-color-medium); font-size: 1.5rem;"><strong>The
                Event King</strong> </h1>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" color="{{theme}}">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
