<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button (click)="seereps()" color="{{theme}}" shape="round" *ngIf="status == 'adm'">
        <ion-icon name="{{repcon}}"></ion-icon>&nbsp;&nbsp; {{reptext}}
      </ion-button>
      <ion-button routerDirection="root" (click)="logout()" color="{{theme}}" shape="round">
        <ion-icon name="exit-outline"></ion-icon>&nbsp;&nbsp; log out
      </ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="margin-top:5%;" *ngIf="status == 'usr'">
  <ion-card color="{{color(theme)}}" class="cardevent" routerDirection="root" [routerLink]="[eventsurl]" >
    <img src="assets/wlc.jpg" class="cardimage" />
    <ion-card-header>
      <h1>Are you new around here? Welcome!</h1>
    </ion-card-header>
    <ion-card-content class="content">
      <ion-label>
      Now that you are here, you can view all of the upcoming events and make reservarions if the option is made available.
      Or, if you are an organizor of an event, you can add it to the page yourself and manage it as you go !</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="{{color(theme)}}" class="cardevent" routerDirection="root" [routerLink]="[ownevents]" >
    <img src="assets/prt.jpg" class="cardimage" />
    <ion-card-header>
      <h1>Have you already set up your first event?</h1>
    </ion-card-header>
    <ion-card-content class="content">
      <ion-label>
        Go to the page containing all your events! There you can keep track of everything, manage the events
      and also view the reservations for all your events!</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="{{color(theme)}}" class="cardevent" routerDirection="root" [routerLink]="[report]" >
    <img src="assets/wrn.jpg" class="cardimage" />
    <ion-card-header>
      <h1>Have you noticed suspicious activity?</h1>
    </ion-card-header>
    <ion-card-content class="content">
      <ion-label>
        If so, please report it by clicking here. The freedom we give for event promotion can also lead to miss-use of the 
      application. Reporting potentially fake events helps us keep out integrity!</ion-label>
    </ion-card-content>
  </ion-card>
      
    
  </div>

  <div id="cont" *ngIf="status == 'adm'">
    <div *ngIf="repview == false">
      <h1 style="margin-bottom:3%;">Active Users</h1>
      <ion-card color="{{themeopp(theme)}}" style="margin-bottom:3%; width:30%;" *ngIf="confirm">
        <ion-card-header>
          <ion-card-title> Are you sure you want to terminate user? </ion-card-title>
          <ion-button color="danger" (click)="yes()">Yes</ion-button>
          <ion-button color="success" (click)="no()">No</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-item *ngFor="let user of users" color="{{theme}}" class="adaptitem">
        <ion-title>{{user.username}}</ion-title>
        <ion-title>{{user.email}}</ion-title>
        <ion-title>{{reportnum(user.username)}}</ion-title>
        <ion-title>{{gettype(user.type)}}</ion-title>
        <div slot="end">
          <ion-button color="success" (click)="promote(user.id)" *ngIf="user.type !== 'adm'">promote</ion-button>
          <ion-button color="warning" (click)="demote(user.id)" *ngIf="user.type == 'adm'">demote</ion-button>
          <ion-button color="danger" (click)="terminate(user.id)">terminate</ion-button>
        </div>
      </ion-item>
    </div>
    <div *ngIf="repview" id="reportdiv">
      <h1 style="margin-bottom:3%;">Active Reports</h1>
      <ion-card *ngFor="let rep of reps" color="{{themeopp(theme)}}" class="cardres" style="border-radius: 8px;">
        <ion-card-header>
          <ion-card-title>Reported Event: {{rep.eventrep}}</ion-card-title>
          <ion-card-title>Reported User: {{rep.userrep}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-header>
          <ion-card-title>Reason for report: </ion-card-title>
          <ion-card-title>{{rep.report}}</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <div stlye="margin-left:2%; margin-right:2%; position: aboslute; bottom: 0;">
            <ion-button color="primary" shape="round" style="width: 100%; text-align: center;" (click)="dismiss(rep.id)"> dismiss
            </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </div>
  </div>


</ion-content>
