ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0%;
  margin-bottom: 3%;
}

#reportdiv {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
  margin-bottom: 3%;
}

#cont {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 3%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.cardevent {
  cursor: pointer;
  width: 32%;
  height: 580px;
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.9rem;
}

.cardimage {
  height: 350px;
  width: 100%;
}

#container a {
  text-decoration: none;
}

.navbaritem {
  cursor: pointer;
  margin-left: 2%;
}

@media only screen and (max-width: 400px) {
  .adaptitem ion-title {
    display: block;
  }

  .cardevent {
      width: 100%;
      cursor: pointer;
      height: 500px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .cardimage {
      height: auto;
      width: 100%;
    }

}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .cardevent {
    cursor: pointer;
      width: 100%;
      height: 580px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .cardimage {
      height: auto;
      width: 100%;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 915px) {
  .cardevent {
    cursor: pointer;
      width: 47%;
      height: 600px;
      display: inline-block;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .cardimage {
      height: auto;
      width: 100%;
    }
}

@media only screen and (max-width: 915px) and (min-width: 600px) {
  .cardevent {
    cursor: pointer;
      width: 100%;
      height: 720px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .cardimage {
      height: auto;
      width: 100%;
    }

}