<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title+'Event'}}</ion-title>
    <div slot="end" style="margin-right: 1%;">
      <ion-button (click)="reswitch()" *ngIf="avail(tickets, rtickets)>0 && price !== null && edit" color="{{theme}}" shape="round">
      <ion-icon name="{{iconre}}"></ion-icon>&nbsp;&nbsp; {{status}}
      </ion-button>
      <ion-button routerDirection="root" [routerLink]="[urlBack]" color="{{theme}}" shape="round" id="back">
        <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;&nbsp;Back
      </ion-button>
      <ion-button (click)="themecng()" color="{{theme}}" shape="round">{{ btnTxt(theme)
        }}
        &nbsp;&nbsp;<ion-icon name="{{icon(theme)}}"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{theme}}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="margin-top:5%;">
    <div class="viewNedit" *ngIf="reserve == false">
      <div class="evArea" *ngFor="let e of event">
        <div class="title" id="title">
          <h1 *ngIf="edit == false">Title: </h1>
          <ion-input value="{{e.eventName}}" style="width: 50%;" class="sel{{theme}}" *ngIf="edit == false"
          [(ngModel)]="name"></ion-input>
          <h1 style="margin-bottom:4%;" *ngIf="edit">{{getTitle(e.eventName)}}</h1>
        </div>
        <div class="info" style="margin-bottom: 4%" id="info">
          <h5 style="margin-bottom:1%;" *ngIf="edit">Event Owner: {{e.creator}}</h5>
          <h5 style="margin-bottom:1%;" *ngIf="edit">City Location: {{e.city}}</h5>
          <h5 style="margin-bottom:2%;" *ngIf="edit == false">City Location:
          <ion-select value="{{e.city}}" style="width: 30%;" class="sel{{theme}}" [(ngModel)]="cityEdit">
            <ion-item *ngFor="let city of citys">
              <ion-select-option value="{{city.nameCity}}">{{city.nameCity}}</ion-select-option>
            </ion-item>
          </ion-select></h5>
          <h5 style="margin-bottom:1%;" *ngIf="edit">Type of Event: {{e.type}}</h5>
          <h5 style="margin-bottom:2%;" *ngIf="edit == false">Type of Event:
            <ion-select value="{{e.type}}" style="width: 30%;" class="sel{{theme}}" [(ngModel)]="typeEdit">
              <ion-item *ngFor="let type of types">
                <ion-select-option value="{{type.nameType}}">{{type.nameType}}</ion-select-option>
              </ion-item>
            </ion-select>
          </h5>
          <h5 style="margin-bottom:1%;">Starting Time: {{date(e)}}</h5>
          <ion-datetime class="{{ 'date' + theme }}" value="{{e.startTime}}" min="{{today}}" max="2024-05-31T23:59:59"
            [(ngModel)]="startDate" *ngIf="edit == false"></ion-datetime>
        </div>

        <div class="image" style="margin-bottom: 3%">
          <h2>Full Description: </h2>
          <h3 *ngIf="edit">{{e.eventDesc}}</h3>
          <ion-textarea *ngIf="edit == false" [(ngModel)]="desc"
          value="{{e.eventDesc}}" style="width: 90%;" class="sel{{theme}}"></ion-textarea>
        </div>

        <div class="image" style="margin-bottom: 3%">
          <h2 style="margin-bottom: 2%;">Preview Images: </h2>
          <img [src]="e.url" class="frontImage" />
        </div>

        <div class="res" style="margin-bottom: 2%;" *ngIf="e.price !== null || edit == false" id="res">
          <h2 style="margin-bottom: 2%;" *ngIf="edit">Reservation details: </h2>
          <h2 style="margin-bottom: 2%;" *ngIf="edit == false">Reservation details (optional): </h2>
          <h5 style="margin-bottom:1%;" *ngIf="edit">Number of Tickets Generated: {{e.numTables}}</h5>
          <h5 style="margin-bottom:1%;" *ngIf="edit == false">Number of Tickets Generated: </h5>
          <ion-input value="{{e.numTables}}" style="width: 50%;" class="sel{{theme}}" *ngIf="edit == false"
          [(ngModel)]="tickets"></ion-input>
          <h5 style="margin-bottom:1%;" *ngIf="edit">Price of the tickets: {{e.price}} DEN</h5>
          <h5 style="margin-bottom:1%;" *ngIf="edit == false">Price of the tickets: </h5>
          <ion-input value="{{e.price}}" style="width: 50%;" class="sel{{theme}}" *ngIf="edit == false"
          [(ngModel)]="price"></ion-input>
          <h5 style="margin-bottom:3%;" *ngIf="edit">Number of Tickets Currently Available: {{avail(e.numTables, e.resTables)}}</h5>
          <ion-button expand="block" (click)="reswitch()" shape="round" *ngIf="edit">Make reservation</ion-button>
        </div>
        <ion-button id="upt" expand="block" *ngIf="edit == false" style="margin-bottom:2%;" (click)="updateE(e.id)" shape="round">SAVE</ion-button>
        <hr>
      </div>
    </div>
    <div class="reserve" *ngIf="reserve">
      <h2 style="margin-bottom: 2%;">Reservation details: </h2>
      <h5 style="margin-bottom:1%;" >Price of the tickets: {{price}} DEN</h5>
      <h5 style="margin-bottom:3%;" >Number of Tickets Currently Available: {{avail(tickets, rtickets)}}
      </h5>
      <h4 style="margin-bottom: 2%;">Number of tickets: </h4>
      <ion-input type="number" [(ngModel)]="resTickets" min="1" max="avail(tickets, rtickets)" class="sel{{theme}}" style="width:30%;" (keyup)="modelChange()"></ion-input>
      <ion-button id="upt" tyle="margin-bottom:2%;" (click)="reserveT()"
        shape="round" style="width:20%;">reserve</ion-button>
      <ion-button routerDirection="root" [routerLink]="[reslink]" id="reslink" style="display:none;"></ion-button>
    </div>
  </div>

</ion-content>
