ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.navbaritem {
  cursor: pointer;
  margin-left: 2%;
}

.frontImage {
  width:30%;
  height:auto;
  border-radius: 8px;
}

.sellight {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-shade);
  border-radius: 5px;
  color: var(--ion-color-tertiary-shade);
  margin-bottom: 1%;
  padding-right: 1.5%;
}

.seldark {
  font-size: var(--fonts);
  border: 2px solid var(--ion-color-tertiary-tint);
  border-radius: 5px;
  color: var(--ion-color-dark-contrast);
  margin-bottom: 1%;
  padding-right: 1.5%;
}

.datedark {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
  border: 2px solid var(--ion-color-dark-contrast);
  border-radius: 5px;
}

.datelight {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
}